<template>
    <v-container class="py-6 px-4 home-page" fluid>
        <v-form>
            <v-container>
                <v-row>
                    <v-col cols="12" md="5">
                        <v-text-field
                            v-model="getTimeTracker.taskDescription"
                            label="Task description"
                            required
                            autocomplete="off"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="2">
                        <v-autocomplete
                            v-model="getTimeTracker.projectId"
                            :items="getActiveProjects"
                            label="Project"
                            required
                            item-text="name"
                            item-value="id"
                        >
                            <template v-slot:item="data">
                                <template>
                                    <v-list-item-content>
                                        <v-list-item-title
                                            v-html="data.item.name"
                                        ></v-list-item-title>
                                        <v-list-item-subtitle
                                            v-html="data.item.client"
                                        ></v-list-item-subtitle>
                                    </v-list-item-content>
                                </template>
                            </template>
                        </v-autocomplete>
                    </v-col>

                    <v-col cols="12" md="1">
                        <v-btn-toggle
                            v-model="getTimeTracker.isBillable"
                            color="blue darken-1"
                            title="Activate billing"
                            tile
                            group
                        >
                            <v-btn icon>
                                <v-icon>mdi-currency-usd</v-icon>
                            </v-btn>
                        </v-btn-toggle>
                    </v-col>

                    <v-col cols="12" md="2">
                        <v-text-field
                            v-model="timeElapsed"
                            readonly
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="2" align-self="center">
                        <div>
                            <v-btn
                                :color="`${isTimerRunning ? 'red' : 'primary'}`"
                                @click="toggleTimer"
                                large
                                block
                                >{{ isTimerRunning ? "Stop" : "Start" }}</v-btn
                            >
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>

        <ProjectList />
    </v-container>
</template>

<script>
// @ is an alias to /src
import ProjectList from "@/components/ProjectList.vue";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Home",
    components: {
        ProjectList,
    },

    data: () => ({
        timeElapsed: "00:00:00",
    }),

    computed: {
        ...mapGetters({
            getTimeEntriesForProject: "project/getTimeEntriesForProject",
            getProjects: "project/getProjects",
            getActiveProjects: "project/getActiveProjects",
            getTimeTracker: "timeTracker/getTimeTracker",
            isTimerRunning: "timeTracker/isTimerRunning",
        }),
    },

    mounted() {
        if (this.$date(this.getTimeTracker.startDateTime).isValid()) {
            const timerId = setInterval(this.timerTick, 500);
            this.startTimer(timerId);
        }
    },

    destroyed() {
        this.stopTimer();
    },

    methods: {
        toggleTimer() {
            if (this.isTimerRunning) {
                // if running, stop the timer
                const endDateTime = this.$date().toISOString();
                this.setEndDateTime(endDateTime);
                this.timeElapsed = "00:00:00";
                this.addTimeEntry(this.getTimeTracker).then(() =>
                    this.resetTimer()
                );
                console.log("stop");
            } else {
                // if stopped, start the timer
                const startDateTime = this.$date(
                    this.getTimeTracker.startDateTime
                ).isValid()
                    ? this.$date(this.getTimeTracker.startDateTime)
                    : this.$date().toISOString();

                this.setStartDateTime(startDateTime);

                const timerId = setInterval(this.timerTick, 500);
                this.startTimer(timerId);
                console.log("start");
            }
        },

        timerTick() {
            if (!this.getTimeTracker.startDateTime) return "00:00:00";

            const startTime = this.getTimeTracker.startDateTime;
            const timeNow = this.$date();
            const elapsedTime = timeNow.diff(startTime);

            this.timeElapsed = this.$date
                .duration(elapsedTime)
                .format("HH:mm:ss");
            console.log("tick");
        },

        ...mapActions({
            addTimeEntry: "timeEntry/addTimeEntry",
            setStartDateTime: "timeTracker/setStartDateTime",
            setEndDateTime: "timeTracker/setEndDateTime",
            startTimer: "timeTracker/startTimer",
            stopTimer: "timeTracker/stopTimer",
            resetTimer: "timeTracker/resetTimer",
        }),
    },
};
</script>
