<template>
    <v-container class="py-6 px-4" fluid>
        <v-container>
            <v-row justify="center">
                <v-data-table
                    :headers="headers"
                    :items="getProjects"
                    class="elevation-1"
                    style="width: 100%"
                >
                    <template v-slot:top>
                        <v-toolbar v-model="dialog">
                            <v-toolbar-title>My projects</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        color="primary"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        New project
                                    </v-btn>
                                </template>
                                <ProjectForm
                                    :project="editedProject"
                                    @close="dialog = false"
                                    @save="onProjectSave"
                                />
                            </v-dialog>
                        </v-toolbar>
                    </template>

                    <template v-slot:[`item.hours`]="{ item }">
                        <span :title="item.hours.asHours()">{{
                            item.hours.format("HH:mm")
                        }}</span>
                    </template>

                    <template v-slot:[`item.billed`]="{ item }">
                        {{ item.billed.toFixed(2) }} {{ currencySymbol }}
                    </template>

                    <template v-slot:[`item.isActive`]="{ item }">
                        {{ item.isActive ? "Active" : "Archived" }}
                    </template>

                    <template v-slot:[`item.actions`]="{ item }">
                        <v-btn
                            class="mr-2"
                            fab
                            x-small
                            color="blue"
                            icon
                            @click="onProjectEdit(item)"
                        >
                            <v-icon dark> mdi-pencil </v-icon>
                        </v-btn>

                        <v-btn
                            fab
                            x-small
                            color="red"
                            icon
                            @click="onDeleteProject(item)"
                        >
                            <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
import ProjectForm from "@/components/ProjectForm.vue";
import { mapGetters, mapActions } from "vuex";

export default {
    data: () => ({
        dialog: false,
        currencySymbol: "DKK",
        headers: [
            { text: "Name", value: "name", width: "30%" },
            { text: "Client", value: "client", width: "15%" },
            { text: "Tracked Hours", value: "hours" },
            { text: "Total billed", value: "billed" },
            { text: "Status", value: "isActive" },
            { text: "Actions", value: "actions", sortable: false },
        ],
        editedProject: {},
    }),

    computed: {
        ...mapGetters({
            getProjects: "project/getProjectExtended",
        }),
    },

    components: { ProjectForm },

    methods: {
        ...mapActions({
            removeProject: "project/removeProject",
            updateProject: "project/updateProject",
        }),

        onDeleteProject(project) {
            if (
                window.confirm(
                    "Are you sure you want to remove this project?"
                ) !== true
            )
                return;
            this.removeProject(project.id);
        },

        onProjectEdit(project) {
            this.editedProject = Object.assign({}, project);
            this.dialog = true;
        },

        onProjectSave(projectModel) {
            this.updateProject(projectModel);
            this.dialog = false;
        },
    },
};
</script>

<style></style>