<template>
    <v-container class="py-6 px-4" fluid>
        <v-container>
            <v-row justify="center">
                <v-data-table
                    :headers="headers"
                    :items="getTimeEntries"
                    class="elevation-1"
                    style="width: 100%"
                >
                    <template v-slot:top>
                        <v-toolbar>
                            <v-toolbar-title>My time entries</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                    </template>

                    <template v-slot:[`item.startDateTime`]="{ item }">
                        {{
                            $date(item.startDateTime).format("DD/MM/YYYY HH:mm")
                        }}
                    </template>

                    <template v-slot:[`item.endDateTime`]="{ item }">
                        {{ $date(item.endDateTime).format("DD/MM/YYYY HH:mm") }}
                    </template>

                    <template v-slot:[`item.isBillable`]="{ item }">
                        {{ item.isBillable ? "Yes" : "No" }}
                    </template>

                    <template v-slot:[`item.actions`]="{ item }">
                        <v-btn
                            fab
                            x-small
                            color="red"
                            icon
                            @click="onTimeEntryRemove(item.id)"
                        >
                            <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </template>                    
                </v-data-table>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    data: () => ({
        headers: [
            {
                text: "Task description",
                value: "taskDescription",
                width: "30%",
            },
            { text: "Timer start", value: "startDateTime", width: "15%" },
            { text: "Timer end", value: "endDateTime" },
            { text: "Billable", value: "isBillable" },
            { text: "Actions", value: "actions", sortable: false },

        ],
    }),

    computed: {
        ...mapGetters({
            getTimeEntries: "timeEntry/getTimeEntries",
        }),
    },

    methods: {
        ...mapActions({
            removeTimeEntry: 'timeEntry/removeTimeEntry'
        }),

        onTimeEntryRemove(timeEntryId) {
            if (
                window.confirm(
                    "Are you sure you want to remove this entry?"
                ) !== true
            )
                return;               
            this.removeTimeEntry(timeEntryId);
        },
    }
};
</script>

<style></style>