<template>
    <v-form v-model="valid" ref="form" lazy-validation>
        <v-card>
            <v-card-title>
                <span class="headline">Project Details</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                label="Name *"
                                :value="project.name"
                                :rules="[...nameRules, projectNameUnique]"
                                :count="3"
                                v-model="projectModel.name"
                                required
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12">
                            <v-text-field
                                label="Client name"
                                :value="project.client"
                                v-model="projectModel.client"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-checkbox
                                label="Billing status"
                                :value="project.isBillable"
                                v-model="projectModel.isBillable"
                            ></v-checkbox>
                        </v-col>

                        <v-col cols="12" sm="8">
                            <v-text-field
                                label="Hourly bill rate (DKK)"
                                :value="project.billRate"
                                v-show="projectModel.isBillable"
                                v-model="projectModel.billRate"
                                class="mt-0"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12">
                            <v-select
                                :items="projectStatus"
                                v-model="projectModel.isActive"
                                label="Project status"
                                required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
                <small>* indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="$emit('close')">
                    Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="onSave"> Save </v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    data: () => ({
        valid: false,
        projectStatus: [
            { text: "Active", value: true },
            { text: "Archived", value: false },
        ],

        projectModel: {
            id: null,
            name: null,
            isBillable: false,
            billRate: null,
            client: null,
            timeEntryIds: [],
            isActive: true,
        },

        nameRules: [
            (v) => !!v || "Name is required",
            (v) =>
                (v && v.length >= 3) || "Name must be more than 3 characters",
        ],
    }),

    props: {
        project: {
            type: Object,
            require: true,
        },
    },

    computed: {
        ...mapGetters({
            projects: "project/getProjects",
        }),
    },

    watch: {
        project: function (newVal) {
            this.projectModel = Object.assign(this.projectModel, newVal);
        },
    },

    mounted() {
        this.projectModel = Object.assign(this.projectModel, this.project);
    },

    methods: {
        onSave() {
            //this.$refs.form.validate();
            if(this.valid) this.$emit("save", this.projectModel);

            this.projectModel = {
                id: null,
                name: null,
                isBillable: false,
                billRate: null,
                client: null,
                timeEntryIds: [],
                isActive: true,
            };
        },

        projectNameUnique(v) {
            return !this.projects.find((p) => p.name == v && this.projectModel.id !== p.id) || "Name must be unique"
        }
    },
};
</script>

<style>
</style>