<template>
    <v-container>
        <v-row>
            <v-col v-for="project in projectsList" :key="project.id" cols="12">
                <v-card  v-if="project.isActive">
                    <v-subheader>
                        {{ project.name }}
                        <small v-if="project.client && project.client.length > 0" class="ml-1">  ({{ project.client }})</small>
                    </v-subheader>

                    <v-list two-line v-if="getTimeEntriesForProject(project.id).length > 0">
                        <v-list-item-subtitle class="ml-16">
                            <v-row no-gutters>
                                <v-col cols="12" md="3"> Description </v-col>

                                <v-col cols="12" md="3">
                                    Project
                                </v-col>

                                <v-col cols="12" md="1"> Billable </v-col>

                                <v-col cols="12" md="3">
                                    Start / End Time
                                </v-col>

                                <v-col cols="12" md="2">
                                    Total Hours
                                </v-col>
                            </v-row>
                        </v-list-item-subtitle>

                            <v-divider
                                class="ml-16 mb-4"
                                inset
                            ></v-divider>                        

                        <template
                            v-for="(timeEntry, idx) in getTimeEntriesForProject(
                                project.id
                            )"
                        >
                            <v-list-item :key="timeEntry.id">

                                <v-btn
                                    class="mr-4"
                                    fab
                                    x-small
                                    color="red"
                                    icon
                                    @click="onTimeEntryRemove(timeEntry.id)"
                                >
                                    <v-icon dark> mdi-delete-outline </v-icon>
                                </v-btn>

                                <v-list-item-content>
                                    <v-list-item-subtitle>
                                        {{
                                            timeEntry.startDateTime
                                                | formatDate("ddd, MMM D")
                                        }}
                                    </v-list-item-subtitle>

                                    <v-list-item-content>
                                        <v-row>
                                            <v-col cols="12" md="3">
                                                {{ timeEntry.taskDescription }}
                                            </v-col>

                                            <v-col cols="12" md="3">
                                                {{ project.name }}
                                            </v-col>

                                            <v-col cols="12" md="1">
                                                <v-icon :color="`${timeEntry.isBillable ? `blue` : `grey`}`"> mdi-currency-usd </v-icon>
                                            </v-col>

                                            <v-col cols="12" md="3">
                                                {{
                                                    timeEntry.startDateTime
                                                        | formatDate("HH:mm")
                                                }}
                                                -
                                                {{
                                                    timeEntry.endDateTime
                                                        | formatDate("HH:mm")
                                                }}
                                            </v-col>

                                            <v-col cols="12" md="2">
                                                {{
                                                    totalTime(
                                                        timeEntry.startDateTime,
                                                        timeEntry.endDateTime
                                                    )
                                                }}
                                            </v-col>
                                        </v-row>
                                    </v-list-item-content>
                                </v-list-item-content>
                            </v-list-item>

                            <v-divider
                                v-if="idx !== project.timeEntryIds.length + 1"
                                :key="`divider-${idx}`"
                                class="ml-16"
                                inset
                            ></v-divider>
                        </template>

                            <v-divider
                                class="ml-16 mb-4"
                                inset
                            ></v-divider> 

                            <v-subheader>
                                {{ 'Total hours:  ' + getTotalProjectDuration(project.id).format('HH:mm') }}
                            </v-subheader>      

                    </v-list>

                    <v-list v-else>
                        <v-list-item>
                            No time entries found.
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import formatDate from "@/filters/dateFormater";

export default {
    computed: {
        ...mapGetters({
            getTimeEntriesForProject: "project/getTimeEntriesForProject",
            getTotalProjectDuration: "project/getTotalProjectDuration",
            projectsList: "project/getProjects",
            //getTimeEntriesForProject: 'timeEntry/getTimeEntriesForProject'
        }),
    },

    filters: {
        formatDate,
    },

    methods: {
        ...mapActions({
            removeTimeEntry: 'timeEntry/removeTimeEntry'
        }),

        totalTime(startDate, endDate) {
            const dateDiff = this.$date(endDate).diff(startDate);
            return this.$date.duration(dateDiff).format("HH:mm");
        },

        onTimeEntryRemove(timeEntryId) {
            if (
                window.confirm(
                    "Are you sure you want to remove this entry?"
                ) !== true
            )
                return;            
            this.removeTimeEntry(timeEntryId);
        },
    },

};
</script>

<style>
</style>