<template>
    <v-app id="project-tracker">
        <v-app-bar :height="70" app>

        </v-app-bar>

        <v-navigation-drawer
            :mini-variant.sync="drawer"
            :mini-variant-width="70"
            app
        >
            <v-list-item class="px-2">
                <v-list-item-avatar size="48">
                    <v-img
                        src="./assets/bob-the-developer.jpg"
                    ></v-img>
                </v-list-item-avatar>

                <v-list-item-title>Bob</v-list-item-title>

                <v-btn icon @click.stop="drawer = !drawer">
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list>
                <v-list-item v-for="[icon, text, path] in links" :key="icon" :to="path" link>
                    <v-list-item-icon>
                        <v-icon>{{ icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main>
            <router-view />
        </v-main>
    </v-app>
</template>

<script>
export default {
    name: "App",

    data: () => ({
        cards: ['Today', 'Yesterday'],
        drawer: null,
        links: [
            ['mdi-view-dashboard', 'Dashboard', '/'],
            ['mdi-briefcase', 'Projects','/projects'],
            ['mdi-clock', 'Time entries', '/time-entries'],
        ],
    }),
};
</script>

<style scoped>
.v-list-item {
    padding: 3px 16px;
}
</style>
